.header{
    position: absolute;
    width: 1440px;
    height: 134px;
    left: 0px;
    top: 0px;

    background: #EDF2EC;
}
.navbar{
    position: absolute;
    width: 1220px;
    height: 50px;
    left: 111px;
    top: 42px;
}
.nav{
    position: absolute;
    width: 452px;
    height: 50px;
    left: calc(879px - 111px);


}
.home{
    position: absolute;
    height: 50px;
    left: 0;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;

    color: #E06733;

}
.about{
    position: absolute;
    height: 50px;
    left: 90px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;

    color: #010201;

}
.service{
    position: absolute;
    height: 50px;
    left: 203px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;

    color: #010201;

}
.price{
    position: absolute;
    height: 50px;
    left: 304px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
    /* identical to box height, or 312% */
    color: #010201;

}
.contacts{
    position: absolute;
    height: 50px;
    left: 388px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
    /* identical to box height, or 312% */

    color: #010201;
}
.logo{
    position: absolute;
    width: 79.17px;
    height: 21.04px;
    top: 10px;
}
.logo_text{
    position: absolute;
    width: 58.13px;
    height: 17px;

    left: 21.05px;
    top: 4.04px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;

    color: #000000;
}
.logo_vector{
    position: absolute;
    width: 20px;
    height: 20px;
    }
#vector1{
    position: absolute;
    width: 9.92px;
    height: 17.28px;

    top: 2.66px;
    
    border: 0px solid #499A18;
}
#vector2{
    position: absolute;
    width: 19px;
    height: 20px;
    left: 1px;
    
    border: 0px solid #499A18;
    }
.welcome{
    position: absolute;
    width: 1440px;
    height: 532px;
    left: 0px;
    top: 134px;
    
    background: #EDF2EC;
    }
.welcome_section{
    position: absolute;
    width: 1222px;
    height: 407.36px;
    left: 109px;
    top: 62px;
}
.leafs{
    position: absolute;
    width: 448.8px;
    height: 407.36px;
}
.leaf1{
    position: absolute;
    width: 81.23px;
    height: 60.89px;
    left: 257.93px;
    top: 110.99px;

    background: url(../assets/leafs/leaf1.png);
    background-size: cover;
    filter: blur(4.5px);
    transform: matrix(-0.81, -0.56, 0.61, -0.81, 0, 0);
}
.leaf2{
    position: absolute;
    width: 245.31px;
    height: 177.84px;
    left: 19.22px;
    top: 0px;


    background: url(../assets/leafs/leaf2.png);
    
    background-size: cover;
    filter: blur(4.5px);
    transform: matrix(0.99, -0.12, 0.13, 0.99, 0, 0);
}
.leaf3{
    position: absolute;
    width: 163.49px;
    height: 141.86px;
    left: 102.17px;
    top: 198.6px;
    
    background: url(../assets/leafs/leaf3.png);
    background-size: cover;
    filter: blur(3.5px);
    transform: matrix(0.51, -0.84, 0.89, 0.49, 0, 0);
}
.leaf4{
    position: absolute;
    width: 80.33px;
    height: 61.57px;
    left: 0px;
    top: 200.66px;
    
    background: url(../assets/leafs/leaf4.png);
    background-size: cover;

    filter: blur(4.5px);
    transform: matrix(-0.63, 0.75, -0.81, -0.62, 0, 0);
}
.leaf5{
    position: absolute;
    width: 120.93px;
    height: 77.01px;
    left: 310.12px;
    top: 253.0px;
    
    background: url(../assets/leafs/leaf5.png);
    background-size: cover;

    filter: blur(2px);
    transform: matrix(-0.96, -0.26, 0.29, -0.96, 0, 0);
}