.header{
    position: absolute;
    width: 1440px;
    height: 134px;
    left: 0px;
    top: 0px;

    background: #EDF2EC;
}
.navbar{
    position: absolute;
    width: 1220px;
    height: 50px;
    left: 111px;
    top: 42px;
}
.nav{
    position: absolute;
    width: 452px;
    height: 50px;
    left: 879px;

}
.logo{
    position: absolute;
    width: 79.17px;
    height: 21.04px;
    top: 10px;
}
.logo_text{
    position: absolute;
    width: 58.13px;
    height: 17px;

    left: 21.05px;
    top: -11.96px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;

    color: #000000;
}
.logo_vector{
    position: absolute;
    width: 20px;
    height: 20px;
    }
#vector1{
    position: absolute;
    width: 9.92px;
    height: 17.28px;

    top: 2.66px;
    
    border: 1px solid #499A18;
}
#vector2{
    position: absolute;
    width: 19px;
    height: 20px;
    left: 1px;
    
    border: 1px solid #499A18;
    }
