$color-primary: #499A18;
$color-additional: #E06733;
$color-background-primary: #EDF2EC;
$color-background-additional: #FFFFFF;
$color-link: #010201;
$color-heading-primary: #717171;
$color-heading-additional: #000000;
$color-text: #636060;
$color-form-border: #E3E1D5;

$content-width: 1320px;
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;

