.header {
    background: $color-background-primary;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 46px 0;
    padding-left: 5px;
  }
  
  .nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    column-gap: 46px;
  }
  
  .nav-link {
    text-decoration: none;
    color: $color-link;
    font-family: "Inika", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 5.0rem;
    @extend %transition;
  }
  
  .nav-link:hover, .nav-link:focus, .logo:hover {
    color: $color-additional;
  }
  
  .nav-link:active, .logo:active {
    color: $color-additional;
  }
  
  