.btn {
    min-width: 161px;
    border: 2px solid $color-additional;
    border-radius: 10px;
    font-family: "Inika", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.6rem;
    padding: 14px 27px;
    background-color: $color-background-primary;


    color: $color-additional;
    cursor: pointer;
    @extend %transition;
    @include media-mobile{
      min-width: 121px;
      font-size: 1.5rem;
      line-height: 2.0rem;
      padding: 8px 28px;

    }
  }
  
  .btn:hover {
    background-color: $color-additional;
    color: $color-background-additional;
  }
  