.hamburger{
    display: none;
    position: relative;
    width: 40px;
    height: 24px;
    @include media-mobile{
        display: block;
    }
}
.hamburger-nav{
    @include media-mobile{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: rgba(237, 242, 236, 0.9);
        transition: left 5s;
        overflow: auto;
        transform: translate(-100%, 0px);
    }
}
.hamburger-nav._active {
    transform: translate(0px, 0px);
 }
 .hamburger-nav .hamburger-nav-list{

    @include media-mobile{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: space-between;
        padding: 0;
    }
}

.hamburger-nav-link{
       @include media-mobile{
        text-decoration: none;
        color: #010201;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 2.0rem;
        line-height: 5.0rem;
        text-align: center;
        padding: 0;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: .3s;
        padding-left: 10px;
        display: inline-block;
        width: 100%;
    }
}
