.logo_text {
    font-family: "Inika", serif;
    font-style: normal;
    font-weight: 400;
    color: $color-link;
    font-size: 1.6rem;
    line-height: 31px;
    text-decoration: none;
    padding-left: 20px;
  }
  