.logo_text {
    display: flex;
    font-family: "Inika", serif;
    font-style: normal;
    font-weight: 400;
    color: $color-link;
    font-size: 1.6rem;
    line-height: 3.1rem;
    text-decoration: none;

  }
  