.about_section {
    background: $color-background-additional;
  }
  
  .about_block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 85px;
    @include media-tablet{
      flex-direction: column;
      align-items: center;
      padding-bottom: 95px;
    }
    @include media-mobile{
      flex-direction: column;
      align-items: center;
      padding-bottom: 31px;
    }
  }
  
  .about_img {
    padding-top: 93px;
    width: 464px;

    @include media-tablet{
      width: 250px;
      padding-top: 70px;
    }
    @include media-mobile{
      width: 150px;
      padding-top: 0.33px;
    }

  }
  
  .about_content {
    padding-top: 156px;
    margin-right: 150px;
    text-align: left;
    @include media-tablet{
      padding-top: 40px;
      margin: 0 auto;
    }
    @include media-mobile{
      padding-top: 30px;
      margin: 0 auto;
    }
  }
  
  .about_header {
    font-family: "Inika";
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 5.2rem;
    color: $color-primary;
    margin-right: 130px;
    @include media-tablet{
      width: 423px;
      margin: 0 auto;
      text-align: center;      
      font-size: 3.5rem;
      line-height: 4.6rem;
      padding-bottom: 40px;
    }
    @include media-mobile{
      width: 288px;
      margin: 0 auto;
      text-align: center;      
      font-size: 2.5rem;
      line-height: 3.3rem;
      padding-bottom: 10px;
    }
  }
  
  .about_text {
    
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.0rem;
    /* or 150% */
    color: $color-text;
    @include media-tablet{
      margin-block-start: 0.5em;
    }
    @include media-mobile{
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
  