.service_section {
    background: $color-background-primary;
    padding-bottom: 121px;
  }
  
  .service_content {
    display: flex;
    max-width: 1007px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 90px 0px;
  }
  
  .service_content h2 {
    /* Service and our projects */
    flex-basis: 306px;
    font-family: "Inika";
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 52px;
    color: $color-primary;
  }
  
  .service_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 559px;
    margin-top: 10px;
  }
  
  .services_group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 55px;
  }
  
  .service_item {
    flex-basis: 330px;
  }
  
  .service_item .rectangle {
    box-sizing: border-box;
    height: 100px;
    border: 1px solid $color-form-border;
    border-radius: 0px 0px 20px 20px;
  }
  
  .service_item .header {
    padding: 5px 0px;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 20px;
    /* or 100% */
    color: $color-additional;
  }
  
  .service_item .content {
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 20px;
    /* identical to box height, or 125% */
    color: $color-heading-primary;
    padding: 10px 0px;
  }
  
  .service_item .img {
    width: 330px;
    height: 350px;
    border-radius: 20px 20px 0px 0px;
  }
  
  #img1 {
    background: url(../assets/services/first.png);
  }
  
  #img2 {
    background: url(../assets/services/second.png);
  }
  
  #img3 {
    background: url(../assets/services/third.png);
  }
  
  #img4 {
    background: url(../assets/services/fourth.png);
  }
  
  #img5 {
    background: url(../assets/services/fifth.png);
  }
  
  #img6 {
    background: url(../assets/services/sixth.png);
  }
  