.welcome_section {
    padding-bottom: 33px;
    background: $color-background-primary;
    @include media-tablet{
      padding-bottom: 70px;
    }
  }
  
  .welcome_block {
    display: flex;
    justify-content: space-between;
  }
  
  .leafs {
    flex: 0 1 50%;
    padding-right: 224px;
    padding-top: 62px;
    @include media-tablet{
      width: 280px;
      padding-top: 40px;
      padding-right: 50px;
    }

    @include media-mobile{
      display: none;
    }

  }
  .leafs__img{
    @include media-tablet{
      width: 280px;
    }

  }
  
  .welcome_content {
    padding-top: 89px;
    flex: 1 1 100%;
    @include media-tablet{
      padding-top: 40px;
      order: -1;
    }
    @include media-mobile{
      padding-top: 24px;
    }
  }
  
  .welcome_header {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 5.0rem;
    color: $color-heading-primary;
    margin-bottom: 42px;
    @include media-tablet{
      font-size: 3.5rem;
      line-height: 5.0rem;
      margin-bottom: 30px;
    }
    @include media-mobile{
      font-size: 2.5rem;
      line-height: 3.5rem;
      margin-bottom: 30px;
    }

  }
  
  .welcome_text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.5rem;
    /* or 175% */
    color: $color-text;
    margin-bottom: 48px;
    @include media-tablet{
      font-size: 1.6rem;
      line-height: 2.5rem;
      margin-bottom: 30px;
    }
    @include media-mobile{
      font-size: 1.6rem;
      line-height: 2.5rem;
      margin-bottom: 20px;
    }
  }
  
  #welcome_btn {
    min-width: 158px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.0rem;
    padding: 12px 27px;
    color: $color-heading-additional;
    @include media-mobile{
      min-width: 100px;
      padding: 8px 18px;
      font-size: 1.0rem;
      line-height: 2.0rem;
    }
  }
  