*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
.container{
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 50px;
  }
  /* HEADER*/
.header{

    background: #EDF2EC;
}
.navbar{
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 46px 0;
	padding-left: 5px;
}
.nav-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	column-gap: 46px;
}

.nav-link {
	text-decoration: none;
	color: #010201;
	font-family: 'Inika', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 50px;
	transition: all 0.4s;
}

.nav-link:hover, .nav-link:focus, .logo:hover {
	color: #E06733;
}

.nav-link:active, .logo:active {
	color: #c5714d;
}

.logo_text{
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    color: #010201;
    font-size: 16px;
    line-height: 31px;
    text-decoration: none;
    padding-left: 20px;
    background: url(../assets/logo/logo_vector.svg) 0 0 no-repeat;
}
/* END HEADER*/
/* WELCOME SECTION*/
.welcome_section{
    padding-bottom: 33px;    
    background: #EDF2EC;
    }
.welcome_block{
    display: flex;
    justify-content: space-between;
}
.leafs{
    flex: 0 1 50%;
    margin-right: 131px;
    padding-top: 62px;
}
.welcome_content{
    padding-top: 89px;
    padding-left: 80px;
    flex: 1 1 100%;
}
.welcome_header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px; 
    color: #717171;
    margin-bottom: 42px;
}
.welcome_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    color: #636060;
    margin-bottom: 48px;
}
.welcome_button{
    box-sizing: border-box;
    min-width: 158px;
    border: 2px solid #E06733;
    border-radius: 10px;
    transition-duration: 0.4s;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 27px;

    color: #000000;
}

.welcome_button:hover{
    background-color: #E06733;
    color: #FFFFFF;
}
/* END WELCOME SECTION*/
/* ABOUT SECTION*/
.about_section{
    background: #FFFFFF;
}
.about_block{
    display: flex;
    justify-content: space-between;
    padding-bottom: 85px;
}
.about_img{
    padding-top: 93px;
}
.about_content{
    padding-top: 156px;
    margin-right: 150px;
    text-align: left;
}
.about_header{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;

    color: #499A18;
    margin-right: 130px;
}
.about_text{
    margin-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    color: #636060;
}
.service_section{    
    background: #EDF2EC;
}
.service_content{
    display: flex;
    justify-content: space-between;
}
.service_content_text{
    /* Service and our projects */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;

    color: #499A18;
}
.service_btns{
    left: 448px;
    top: 29px;

}
.btn{
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #E06733;
    transition-duration: 0.4s;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    color: #E06733;
}
.btn:hover{
    background-color: #E06733;
    color:#FFFFFF;
}
.btn .btn_text:hover{
    color:#FFFFFF;

}
.service_sect{
    position: absolute;
    width: 1222px;
    height: 955px;
    left: 109px;
    top: 224px;
}

.service_item{
    position: absolute;
    width: 330px;
    height: 450px;
    left: 0px;
    top: 0px;

}
.service_item .rectangle{
    
    box-sizing: border-box;

    position: relative;
    top: 350px;
    width: 330px;
    height: 100px;
  
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;

}
.service_item .header{
    position: absolute;
    width: 120px;
    height: 24px;
    left: 105px;
    top: 360px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */


    color: #E06733;

}
.service_item .content{
    position: absolute;
    width: 267.19px;
    height: 20px;
    left: 30.91px;
    top: 394px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */


    color: #717171;

}
.service_item .img{
 
    position: absolute; 
    width: 329px;
    height: 350px;

    border-radius: 20px 20px 0px 0px;
}

#item1 #img1{
    background: url(../assets/services/first.png);
}
#item2{
    left: 447px;
}
#item2 #img2{
    background: url(../assets/services/second.png);
}
#item3{
    left: 893px;
}
#item3 #img3{
    background: url(../assets/services/third.png);
}
#item4{
    top: 505px;
}
#item4 #img4{
    background: url(../assets/services/fourth.png);
}
#item5{
    left: 447px;
    top: 505px;
}
#item5 #img5{
    background: url(../assets/services/fifth.png);
}
#item6{
    left: 893px;
    top: 505px;
}
#item6 #img6{
    background: url(../assets/services/sixth.png);
}
#price{
    position: absolute;
    width: 1440px;
    height: 560px;
    left: 0px;
    top: 2630px;

    background: #FFFFFF;
}
.price_wrapper{
    position: absolute;
    width: 1222px;
    height: 405px;
    left: 109px;
    top: 40px;
}
.text_call_us{
    position: absolute;
    width: 452px;
    height: 191.01px;
    left: 770px;

}
.text_call_us .text_call_us_header{
    position: absolute;
    width: 452px;
    height: 103px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* or 125% */

    text-align: right;

    color: #000000;

}
#btn4{
    position: absolute;
    width: 162px;
    height: 50px;
    left: 290.0px;
    top: 141.01px;
}
#btn4 .btn_text{
    width: 98px;
    height: 26px;
    left: 30.04px;
    top: 12px;
}
.price_section{
    position: absolute;
    width: 332px;
    height: 391.01px;
}
.price_section .price_header{
    position: absolute;
    width: 135px;
    height: 49px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;
}
.price_item{
    box-sizing: border-box;
    position: absolute;
    width: 332px;
    height: 282.01px;
    left: 0px;
    top: 109px;

    border: 1px solid #E3E1D5;
    border-radius: 20px;
}
.price_items{
    position: absolute;
    width: 250px;
    height: 214.01px;
    left: 41px;
    top: 34px;
}
.price_item_btn{
    position: absolute;
    width: 250px;
    height: 50px;

}
.price_item_btn .price_rectangle{
    position: absolute;
    width: 250px;
    height: 50px;
    
    background: #EDF2EC;
    border-radius: 20px;

}
.price_item_btn p{
    position: absolute;
    width: 100px;
    height: 18px;
    left: 40px;
    top: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */


    color: #000000;
}
.accordion_btn{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 194px;
    top: 17px;
}
.ellipse{
    position: absolute;
    width: 16px;
    height: 16px;

    border-radius: 50%;

    background: #D9D9D9;
}
.arrow{
    position: absolute;
    width: 4px;
    height: 2.35px;
    left: 6px;
    top: 6px;
}

.arrow_line{
    position: absolute;
    width: 4px;
    height: 2.35px;
    left: 0px;
    top: 0px;
    
    background: url(../assets/arrow.svg);
    background-size: cover;
}
#price_btn1{
    left: 0px;
    top: 0px;
}

#price_btn2{
    left: 0px;
    top: 82px;
}
#price_btn3{
    left: 0px;
    top: 164.01px;
}
.price_leafs{
    position: absolute;
    width: 152px;
    height: 174.99px;
    left: 1070px;
    top: 230.01px;
}
.price_leaf1{
    position: absolute;
    width: 32.97px;
    height: 25.31px;
    left: 111.11px;
    top: 48.49px;

    background: url(../assets/price_leafs/leaf1.png);
    background-size: cover;
    filter: blur(4.5px);
    transform: matrix(-0.81, -0.61, 0.56, -0.81, 0, 0);
}
.price_leaf2{
    position: absolute;
    width: 97.12px;
    height: 75.82px;
    left: 0px;
    top: 0px;

    background: url(../assets/price_leafs/leaf2.png);
    background-size: cover;
    filter: blur(2.5px);
    transform: matrix(0.99, -0.13, 0.12, 0.99, 0, 0);
}
.price_leaf3{
    position: absolute;
    width: 68.46px;
    height: 57.17px;
    left: 49.5px;
    top: 85.88px;

    background: url(../assets/price_leafs/leaf3.png);
    background-size: cover;
    filter: blur(3.5px);
    transform: matrix(0.49, -0.89, 0.85, 0.51, 0, 0);
}
.price_leaf4{
    position: absolute;
    width: 33.28px;
    height: 25.08px;
    left: 9.1px;
    top: 86.76px;

    background: url(../assets/price_leafs/leaf4.png);
    background-size: cover;
    filter: blur(4.5px);
    transform: matrix(-0.62, 0.8, -0.76, -0.63, 0, 0);
}
#contact{
    position: absolute;
    width: 1440px;
    height: 550px;
    left: 0px;
    top: 3190px;

    background: #EDF2EC;
}
#contact .contact_block_header{
    position: absolute;
    width: 195px;
    height: 51px;
    left: 622px;
    top: 60px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    color: #499A18;
}
.img_woman{
    position: absolute;
    width: 400px;
    height: 496.99px;
    left: 109px;
    top: 53px;

    background: url(../assets/contact_woman\ 1.png);

}

.contacts_container{
    position: absolute;
    width: 450px;
    height: 50px;
    left: 881px;
    top: 148px;
}
.contacts_container_rectangle{
    box-sizing: border-box;
    position: absolute;
    width: 450px;
    height: 50px;
    
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;

}
.contacts_container_text{
    position: absolute;
    width: 204px;
    height: 40px;
    left: 20px;
    top: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    letter-spacing: 0.05em;

    color: #717171;
}
#contact_accordion{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 399px;
    top: 17px;
}
.footer{
    position: absolute;
    width: 1440px;
    height: 130px;
    left: 0px;
    top: 3740px;

    background: #FFFFFF;
}
.footer_content{
    position: absolute;
    width: 1222px;
    height: 50px;
    left: 109px;
    top: 40px;

}
.footer_content a{
    position: absolute;
    height: 50px;
    left: 506px;
    top: 0px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    /* identical to box height, or 250% */
    
    
    color: #000000;

}
.footer-data{
    position: absolute;
    height: 50px;
}
#footer-data1{
    left: 0px;
}
#footer-data2{
    left: 39px;
}
#footer-data3{
    left: 108px;
}
.social-list{
    position: absolute;
    width: 188px;
    height: 50px;
    left: 1034px;
    top: 0px;
}
.icon{    
    position: absolute;
    width: 32px;
    height: 32px;
}
#inst{
    position: absolute;
    left: 0px;
    top: 9px;
}
.inst_icon{
    position: absolute;
    height: 26.65px;
    width: 26.65px;

    left: 2.66px;
    top: 2.67px;

    background: url(../assets/social_list/Vector.png);
    background-size: cover;
}

#fb{
    position: absolute;
    left: 52px;
    top: 9px;
}
#fb_icon{
    position: absolute;
    width: 16.67px;
    height: 26.67px;
    left: 8px;
    top: 2.67px;

    background: url(../assets/social_list/Vector\ \(1\).png);
    background-size: cover;
}

#tw{
    position: absolute;
    left: 104px;
    top: 9px;
}
#tw_icon{
    position: absolute;
    width: 26.67px;
    height: 21.67px;
    left: 2.67px;
    top: 5.33px;

    background: url(../assets/social_list/Vector\ \(2\).png);   
    background-size: cover; 
}
#pinterest{
    position: absolute;
    left: 156px;
    top: 9px;
}
#pinterest_icon{
    position: absolute;
    width: 26.57px;
    height: 26.67px;

    left: 2.71px;
    top: 2.67px;
    background: url(../assets/social_list/Vector\ \(3\).png); 
    background-size: cover;
}
